.App {
  text-align: center;
}

.felx-container {
  display: flex;
  flex-wrap: nowrap;
}

.felx-container > div {
  margin: auto;
  width: 100px;
}

.felx-container > div > p:first-child {
  font-weight: bold;
}